:root
{
    /** here can define "global" values (e.g. color, font type, etc..)*/

    --dark-primary:#2B2A4C;
    --main-colour:#B31312;
    --light-colour:#EA906C;
    --light-secondary:#F5EDF7;
    --dark-control:#000;
    --selected-dark-control:#222;

    --main-background:radial-gradient(circle, var(--light-colour), var(--main-colour), var(--dark-primary))
}

body
{
    background:var(--main-background);
    height:100vh;
    width: 100vw;
}
.container
{
    height:100vh;
    width:100vw;
    display: flex;
    justify-items: center;
    -webkit-text-fill-color: var(--light-secondary);
    text-align: center;
}

id-form, client-output, #centered-div
{
    background: var(--dark-primary);
    display: flex;
    flex-direction: column;

    width: fit-content;
    align-items: center;
    margin: auto;

    border-radius: 5pt;
}


.my-button
{
    margin: 0.5em;
    background-color: var(--dark-control);

    box-shadow: 1pt 1pt var(--dark-primary);
}

.my-button:hover
{
    cursor:pointer;
}
.my-button:active
{
    box-shadow: -1pt -1pt var(--dark-primary)
}
.my-input
{
    background: var(--dark-control);
    border-color: var(--light-secondary);
    margin: 5px;
    text-align: center;
}




